<ActionBar title='Home - {{ currentClub?.longName }}' class="action-bar">
    <ActionItem [nsRouterLink]="['/settings']" text="Instellingen" android.systemIcon="ic_menu_preferences"></ActionItem>
    <ActionItem [nsRouterLink]="['/favorites']" text="Favorieten" icon="res://star_on"></ActionItem>
</ActionBar>
<ScrollView>
    <StackLayout class="p-10 page">
        <Label *ngIf="!currentClub" [text]="noClubLabel"></Label>
        <StackLayout *ngIf="currentClub">
            <Button *ngIf="currentClub" [nsRouterLink]="['/members']" text="Spelers van {{ currentClub?.longName }}"></Button>
            <Label *ngIf="!allTeams.length" [text]="noTeamsLabel"></Label>
            <ListPicker *ngIf="allTeams.length" [items]="allTeams" [selectedIndex]="selectedTeamIndex" (selectedIndexChange)="onChangeTeam($event)"></ListPicker>

            <StackLayout *ngIf="currentTeam">
                <Button [nsRouterLink]="['/ranking']" text="Rangschikking"></Button>
                <Button [nsRouterLink]="['/teammatches']" text="Teamwedstrijden"></Button>
                <Button [nsRouterLink]="['/divisionmatches']" text="Afdelingswedstrijden"></Button>
                <Button *ngIf="!currentTeamIsFavorite" (tap)="onTapAddAsFavorite()" class="addToFavorites" text="Voeg toe aan favorieten"></Button>
                <Button *ngIf="currentTeamIsFavorite" (tap)="onTapRemoveAsFavorite()" class="removeFromFavorites" text="Verwijder uit favorieten"></Button>
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>