@import '~/nativescript-theme-core/css/forest.css';

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.strong{
    font-weight: bold;
}

.color-red{
    color: red;
}

.color-green {
    color: green;
}

.background-green{
    background-color: #ceffd9;
}

.background-red {
    background-color: #ffcece;
}