<ActionBar title='Wedstrijden {{ currentClub?.name }}' class="action-bar">
    <ActionItem [nsRouterLink]="['/home']" text="Home" android.systemIcon="ic_menu_home"></ActionItem>
    <ActionItem text="Refresh" android.systemIcon="ic_popup_sync_6" (tap)="onTapRefreshIcon()"></ActionItem>
</ActionBar>
<StackLayout class="page">
    <ActivityIndicator *ngIf="isLoadingMatches" busy="true" width="100" height="100"></ActivityIndicator>
    <TabView [(ngModel)]="tabSelectedIndex" *ngIf="!isLoadingMatches">
        <StackLayout *tabItem="{title: 'Vorige week'}">
            <Label *ngIf="!matchesLastWeek.length" text="Er waren vorige week geen wedstrijden"></Label>
            <matches-list [matches]="matchesLastWeek" (matchTap)="onTapMatch($event)"></matches-list>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Deze week'}">
            <Label *ngIf="!matchesThisWeek.length" text="Er zijn deze week geen wedstrijden"></Label>
            <matches-list [matches]="matchesThisWeek" (matchTap)="onTapMatch($event)"></matches-list>
        </StackLayout>
        <StackLayout *tabItem="{title: 'Volgende week'}">
            <Label *ngIf="!matchesNextWeek.length" text="Er zijn volgende week geen wedstrijden"></Label>
            <matches-list [matches]="matchesNextWeek" (matchTap)="onTapMatch($event)"></matches-list>
        </StackLayout>
    </TabView>
</StackLayout>