<ActionBar title='Wedstrijden {{ currentClub?.name }}' class="action-bar">
    <ActionItem [nsRouterLink]="['/home']" text="Home" android.systemIcon="ic_menu_home"></ActionItem>
    <ActionItem text="Refresh" android.systemIcon="ic_popup_sync_6" (tap)="onTapRefreshIcon()"></ActionItem>
</ActionBar>
<StackLayout class="page">
    <ActivityIndicator *ngIf="isLoadingMatches" busy="true" width="100" height="100"></ActivityIndicator>
    <Label *ngIf="!matchesThisWeek.length && !isLoadingMatches" text="Er zijn deze week geen wedstrijden"></Label>
    <ListView *ngIf="matchesThisWeek.length" #rankingListView [items]="matchesThisWeek" class="list-group" (itemTap)="onTapMatch($event)">
        <ng-template let-match="item">
            <GridLayout columns="*, auto" rows="auto, auto" orientation="horizontal" class="p-10">
                <Label row="1" text="{{ match.homeTeam }} - {{ match.awayTeam }}:"></Label>

                <!-- Show either score or match date in the center -->
                <StackLayout class="text-center" row="1" col="1" *ngIf="match.score !== ''">
                    <Label class="h2" [text]="match.score"></Label>
                </StackLayout>
                <StackLayout class="text-center" row="1" col="1" *ngIf="match.score === ''">
                    <Label [text]="match.matchDate"></Label>
                    <Label [text]="match.matchTime"></Label>
                </StackLayout>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>