<ActionBar title='{{ currentTeam?.divisionCategoryName }} {{ currentTeam?.team }}' class="action-bar">
    <ActionItem [nsRouterLink]="['/home']" text="Home" android.systemIcon="ic_menu_home"></ActionItem>
    <ActionItem text="Refresh" android.systemIcon="ic_popup_sync_6" (tap)="onTapRefreshIcon()"></ActionItem>
</ActionBar>
<StackLayout class="page">
    <Label class="p-10" [text]="currentTeam?.divisionName"></Label>
    <ActivityIndicator *ngIf="isLoadingMatches" busy="true" width="100" height="100"></ActivityIndicator>
    <ListView #rankingListView [items]="matches" class="list-group">
        <ng-template let-item="item">
            <GridLayout columns="*, auto" rows="auto, auto" orientation="horizontal" class="p-10">
                <Label class="h3" text="Week {{ item.weekName }}"></Label>
                <Label row="1" text="{{ item.homeTeam }} - {{ item.awayTeam }}:"></Label>

                <!-- Show either score or match date in the center -->
                <StackLayout class="text-center" row="1" col="1" *ngIf="item.score !== ''">
                    <Label class="h2" [text]="item.score"></Label>
                </StackLayout>
                <StackLayout class="text-center" row="1" col="1" *ngIf="item.score === ''">
                    <Label [text]="item.matchDate"></Label>
                    <Label [text]="item.matchTime"></Label>
                </StackLayout>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>