<ActionBar title='{{ member?.toString() }} - Details' class="action-bar">
    <ActionItem text="Back" icon="res://back_icon" (tap)="onTapBackIcon()"></ActionItem>
    <ActionItem text="Refresh" android.systemIcon="ic_popup_sync_6" (tap)="onTapRefreshIcon()"></ActionItem>
</ActionBar>
<StackLayout class="page">
    <ActivityIndicator *ngIf="isLoading" busy="true" width="100" height="100"></ActivityIndicator>
    <TabView *ngIf="!isLoading">
        <ListView *tabItem="{title: 'Overzicht'}" #overviewListView [items]="resultsByRanking" class="list-group">
            <ng-template let-item="item">
                <GridLayout class="p-5" rows="auto, auto" columns="35, 70, *">
                    <Label col="0" [text]="item.ranking"></Label>
                    <Label col="1" text="{{ item.won }} - {{ item.loss }}"></Label>
                    <StackLayout col="2">
                        <GridLayout *ngFor="let match of item.matches" [class.color-green]="match.resultIndicator === 'V'" [class.color-red]="match.resultIndicator === 'D'"
                            columns="*, 60" rows="auto" orientation="horizontal">
                            <Label text="{{ match.firstName }} {{ match.lastName }}"></Label>
                        </GridLayout>
                    </StackLayout>
                </GridLayout>
            </ng-template>
        </ListView>
        <ListView *tabItem="{title: 'Wedstrijden'}" #resultsListView [items]="member?.resultEntries" class="list-group">
            <ng-template let-item="item">
                <GridLayout class="p-5" [class.background-green]="item.resultIndicator === 'V'" [class.background-red]="item.resultIndicator === 'D'"
                    rows="auto, auto" columns="70, *">
                    <Label col="1" [text]="item.date"></Label>
                    <Label row="1" col="0" [text]="item.ranking"></Label>
                    <Label row="1" col="1" text="{{ item.firstName }} {{ item.lastName }}"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </TabView>
</StackLayout>