<ActionBar title='{{ currentClub?.longName }} - Spelers' class="action-bar">
    <ActionItem [nsRouterLink]="['/home']" text="Home" android.systemIcon="ic_menu_home"></ActionItem>
    <ActionItem text="Refresh" android.systemIcon="ic_popup_sync_6" (tap)="onTapRefreshIcon()"></ActionItem>
</ActionBar>
<StackLayout class="page">
    <ActivityIndicator *ngIf="isLoadingMembers" busy="true" width="100" height="100"></ActivityIndicator>
    <ListView #membersListView [items]="members" class="list-group" (itemTap)="onTapMemberItem($event)">
        <ng-template let-item="item">
            <GridLayout columns="70, 30, *" rows="auto" orientation="horizontal" class="p-10">
                <StackLayout col="0">
                    <Label class="h3" text="{{ item.position }} - {{ item.rankingIndex }}"></Label>
                </StackLayout>
                <StackLayout col="1">
                    <Label class="h3" [text]="item.ranking"></Label>
                </StackLayout>
                <StackLayout col="2">
                    <Label class="h3" [text]="item"></Label>
                    <Label [text]="item.uniqueIndex"></Label>
                </StackLayout>
            </GridLayout>
        </ng-template>
    </ListView>
</StackLayout>